/* Ensure the page occupies full height */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    background-image: url(/Resources/bgImg.png);
    background-size: cover;
}

center {
    font-family: Cooper;
}

/* Header styles */
#HeaderTitle {
    padding-top: 10%;
    color: rgb(255, 255, 255);
    font-style: normal;
    font-size: xxx-large;
    font-family: Cooper;
}

#subheader {
    color: rgb(203, 213, 246);
}

/* Button general styles */
#button:link, #button:visited {
    background-color: #0a7b33;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 16px;
    max-width: 40%;
    width: 100%;
    margin: 0 auto;
}

/* Hover and active button styles */
#button:hover, #button:active {
    background-color: rgb(255, 255, 255);
    color: black;
    max-width: 40%;
    width: 100%;
    margin: 0 auto;
}

/* Button container */
.button-list {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Space between buttons */
}

/* Individual button colors */
#button1 {
    background-color: #275ccd; /* Facebook color */
}

#button1:hover {
    background-color: #1d4d9c; /* Darker shade for hover */
}

#button1 {
    background-color: #e4405f; /* Instagram color */
}

#button2:hover {
    background-color: #c13584; /* Darker shade for hover */
}

#button3 {
    background-color: #ff0055; /* TikTok color */
}

#button3:hover {
    background-color: #db003d; /* Darker shade for hover */
}

/* Footer styles */
footer {
    font-family: sans-serif;
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    margin-top: auto;
    width: 100%;
}

footer a {
    color: #4CAF50;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
